## Overall Analysis
<br>

- Of the 576 players, the majority identify as male (84.03%). Men tend to spend close to the overall average, 3.02 vs 3.05 per transaction. Although men account for the highest volume of purchases, women and non-binary/those who did not disclose gender are the higher value spenders. Based on this information, the marketing and design team would do well to try and expand upon the female and non-binary demographics. 
<br>

- The peak age demographic falls between the ages of 15-24, which accounts for almost 65% of all players. 
<br>

- With 780 total transactions spread among 576 unique individuals, the profitability of the game depends on the repeat business of players.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
raw_df = pd.read_csv(file)
raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# calculate total number of players
user_df = raw_df.loc[:, ["SN", "Age", "Gender"]]

user_count = user_df.count()[0]
print(f'Total Player Transactions: {user_count}')

Total Player Transactions: 780

In [3]:
# calculate total number of unique players
player_count = user_df.drop_duplicates()

unique_players = player_count.count()[0]

print(f'Number of Unique Players: {unique_players}')

Number of Unique Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# find unique number of items
unique_items = raw_df["Item ID"].nunique()

# calculate total number of purchases
total_purch = raw_df["Purchase ID"].nunique()

# calculate total revenue
total_rev = raw_df["Price"].sum()

# calculate avergae price
avg_price = raw_df["Price"].mean()

# display information data frame
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Purchase Price": [avg_price],
    "Number of Purchases": [total_purch],
    "Total Revenue": [total_rev]
})

# map to format
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

summary_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# calculate unique count and percent of each gender
gender_totals = player_count["Gender"].value_counts()
gender_percent = gender_totals/unique_players*100

# create df
gender_demo_df = pd.DataFrame({
    "Number of Players": gender_totals,
    "Percentage of Players": gender_percent
})

# format results
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)

gender_demo_df

                       Number of Players Percentage of Players
Male                                 484                84.03%
Female                                81                14.06%
Other / Non-Disclosed                 11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# use groupby to sort data into fields by gender and run calcluations 
gender_group = raw_df.groupby(["Gender"]).count()["Purchase ID"]
gender_avg = raw_df.groupby(["Gender"]).mean()["Price"]
gender_total = raw_df.groupby(["Gender"]).sum()["Price"]
avg_by_user = gender_total / gender_demo_df["Number of Players"]

# create df
gender_data = pd.DataFrame({
    "Purchase Count": gender_group,
    "Avg Purchase Price / Transaction": gender_avg, 
    "Total Purchase Value": gender_total,
    "Avg Total Purchase / Person": avg_by_user
})

# format results
gender_data["Avg Purchase Price / Transaction"] = gender_data["Avg Purchase Price / Transaction"].map("${:.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data["Avg Total Purchase / Person"] = gender_data["Avg Total Purchase / Person"].map("${:.2f}".format)

gender_data

,Purchase Count,Avg Purchase Price / Transaction,Total Purchase Value,Avg Total Purchase / Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# set age bins
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 9999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# slice data into bins and add Age Range series to the data frame
player_count["Age Ranges"] = pd.cut(player_count["Age"], age_bins, labels=age_labels)

<ipython-input-8-d05a7655b913>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_count["Age Ranges"] = pd.cut(player_count["Age"], age_bins, labels=age_labels)

In [ ]:
# run calculations
age_totals = player_count["Age Ranges"].value_counts()
age_percents = (age_totals / unique_players)*100

# create df
age_demo = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_percents})

# format results
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}%".format)

# display sorted by index
age_demo.sort_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# sort raw data into age bins
raw_df["Age Ranges"] = pd.cut(raw_df["Age"], age_bins, labels=age_labels)

# run groupby calculations
age_count = raw_df.groupby(["Age Ranges"]).count()["Purchase ID"]
age_avgprice = raw_df.groupby(["Age Ranges"]).mean()["Price"]
age_totalval = raw_df.groupby(["Age Ranges"]).sum()["Price"]
age_avgtotal = age_totalval / age_demo["Total Count"]

# create df
age_data = pd.DataFrame({
    "Purchase Count": age_count,
    "Avg Purchase Price / Transaction": age_avgprice,
    "Total Purchase Value": age_totalval,
    "Avg Total Purchase / Person": age_avgtotal
})

# format
age_data["Avg Purchase Price / Transaction"] = age_data["Avg Purchase Price / Transaction"].map("${:.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data["Avg Total Purchase / Person"] = age_data["Avg Total Purchase / Person"].map("${:.2f}".format)

age_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# run groupby calculations
user_purch = raw_df.groupby(["SN"]).count()["Purchase ID"]
user_avg = raw_df.groupby(["SN"]).mean()["Price"]
user_total = raw_df.groupby(["SN"]).sum()["Price"]

# create df
user_summary = pd.DataFrame({
    "Purchase Count": user_purch,
    "Average Purchase Price": user_avg,
    "Total Purchase Value": user_total
})

# sort by total purchase value (descending)
top_users = user_summary.sort_values("Total Purchase Value", ascending = False)

# format
top_users["Average Purchase Price"] = top_users["Average Purchase Price"].map("${:.2f}".format)
top_users["Total Purchase Value"] = top_users["Total Purchase Value"].map("${:.2f}".format)

# display top five spenders
top_users.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# retrieve item data
item_df = raw_df.loc[:,["Item ID", "Item Name", "Price"]]

# run groupby calculations
purch_count = item_df.groupby(["Item ID", "Item Name"]).count()["Price"]
item_price = item_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
total_val = item_df.groupby(["Item ID", "Item Name"]).sum()["Price"]

# create df
items_summary = pd.DataFrame({
    "Purchase Count": purch_count,
    "Item Price": item_price,
    "Total Purchase Value": total_val
})

# sort by purchase count (descending)
top_items = items_summary.sort_values("Purchase Count", ascending = False)

# format
top_items["Item Price"] = top_items["Item Price"].map("${:.2f}".format)
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].map("${:.2f}".format)

# display five most popular items
top_items.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# sort item summary table by total purchase value (descending)
top_profit_items = items_summary.sort_values("Total Purchase Value", ascending = False)
# format
top_profit_items["Item Price"] = top_profit_items["Item Price"].map("${:.2f}".format)
top_profit_items["Total Purchase Value"] = top_profit_items["Total Purchase Value"].map("${:.2f}".format)

# display five most profitable items
top_profit_items.head(5)

## Closing Analysis
* Of the 576 players, the majority identify as male (84.03%). Men tend to spend close to the overall average, 3.02 vs 3.05 per transaction. Although men account for the highest volume of purchases, women and non-binary/those who did not disclose gender are the higher value spenders. Based on this information, the marketing and design team would do well to try and expand upon the female and non-binary demographics. 

* The peak age demographic falls between the ages of 15-24, which accounts for almost 65% of all players. 

* With 780 total transactions spread among 576 unique individuals, the profitability of the game depends on the repeat business of players.